<!-- - Ejercicio 1:
-- 1. Crear aplicación según modelo hablado
-- 2. Implementar Angular Material
-- 3. Crear página de Inicio (vacía, link al login)
-- 4. Crear página de Login
--- 4.1 Crear ruta de login
--- 4.2 Componente con formulario (manejo de variables dentro del componente)
--- 4.3 Servicio de Login (devolver observable/promesa resuelta "emulando" un login exitoso)
--- 4.4 Compartir información con el resto de la aplicación sobre el usuario logeado
--- 4.5 Redirigir al usuario a la página de Inicio
-- 5. Mostrar usuario logeado en la página principal -->


<div>
  <router-outlet></router-outlet>
</div>